.container {
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	min-height: 100vh;
	background-color: white;
	padding-bottom: 50px;
}

/* デバッグ表示エリア */
.debug {
	margin-top: 30px;
	text-align: left;
	font-size: 0.8em;
	opacity: 0.7;
}