.handArea {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    transition: opacity 0.3s;
}

.handAreaDisabled {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(80%);
}

.message {
    color: #666;
}

.playerBadge {
    margin-top: 20px;
    margin-bottom: 10px;
}

.nameTag {
    padding: 5px 15px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #eee;
    color: #333;
}

.nameTagActive {
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #fff9c4;
    color: #f57c00;
    border: 2px solid #fbc02d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}